<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ultimos Incidentes</title>

		<!-- Import Bootstrap and jQuery -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<!-- Import Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Import Pooper.js -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">

		<!-- Import default css -->
		<link rel="stylesheet" type="text/css" href="/assets/default/style.css">

		<!-- Import Custom Scrollbar -->
		<link rel="stylesheet" type="text/css" href="/assets/default/custom-scrollbar.css">

		<!-- Import this page css -->
		<link rel="stylesheet" type="text/css" href="/assets/lastIncidentsPage/lastIncidents.css">	
		<!-- Import this page js -->
    	<script type="text/javascript" src="/assets/lastIncidentsPage/lastIncidents.js"></script>


	</head>
	<body class="bg-dark">
		<!-- Load Navbar -->
	    <div id="navbar-placeholder"></div>
	    <script type="text/javascript">
	        $(document).ready(() => {
	            $("#navbar-placeholder").load("/assets/navbar/navbar.html");
	        })
	    </script>
		<div class="container-fluid h-100 d-flex flex-column justify-content-center">
			<div class="row no-gutters h-75 d-flex justify-content-center">
				<div class="col-xs-6 col-sm-8 h-100">
					<div class="row no-gutters h-100">
						<div id="magnifiedImageDiv" class="w-100 h-100" style="position: absolute; top: 0; z-index: 999">
							<img id="magnifiedImage" src="/assets/lastIncidentsPage/images/photo1.jpg" class="h-100 w-100">
							<span onclick="closeIncidentInformation()" style="position: absolute; top: 10px; right: 10px; cursor: pointer;">&times</span>
						</div>
						<img id="camera1" onclick="openIncidentInformation(this)" src="/assets/lastIncidentsPage/images/photo1.jpg" class="rounded img pb-1 pr-1">
						<img id="camera2" onclick="openIncidentInformation(this)" src="/assets/lastIncidentsPage/images/photo2.jpg" class="rounded img pb-1 pl-1">
						<img id="camera3" onclick="openIncidentInformation(this)" src="/assets/lastIncidentsPage/images/photo3.jpg" class="rounded img pt-1 pr-1">
						<img id="camera4" onclick="openIncidentInformation(this)" src="/assets/lastIncidentsPage/images/photo4.jpg" class="rounded img pt-1 pl-1">
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-lg-4 itens-align-center h-100" align="center" style="display: none;">					
				</div>
			</div>
		</div>
		<footer class="footer font-small bg-dark">
			<div class="footer-copyright text-center py-3">© 2020 Copyright:
				<a href="http://dontpad.com/Pignus"> Pignus</a>
			</div>
		</footer>
	</body>
</html>