<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ultimos Incidentes</title>

		<!-- CSS only -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

		<!-- JS, Popper.js, and jQuery -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

		<!-- Import Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Import Pooper.js -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">

		<!-- Import default css -->
		<link rel="stylesheet" type="text/css" href="/assets/default/style.css">

		<!-- Import Custom Scrollbar -->
		<link rel="stylesheet" type="text/css" href="/assets/default/custom-scrollbar.css">

		<!-- Import this page css -->
		<link rel="stylesheet" type="text/css" href="/assets/lastIncidentsPage/lastIncidents.css">	
		<!-- Import this page js -->
		<script type="text/javascript" src="/assets/lastIncidentsPage/lastIncidents.js"></script>


	</head>
	<body class="bg-dark">
		<!-- Load Navbar -->
	    <div id="navbar-placeholder"></div>
	    <script type="text/javascript">
	        $(document).ready(() => {
	            $("#navbar-placeholder").load("/assets/navbar/navbar.html");
	        })
	    </script>
		<div class="container" id="main">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-lg-6">
					<img id="camera1" onclick="openIncidentInformation(this)" src="/assets/lastIncidentsPage/images/photo1.jpg" class="img">
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-6">
					<img id="camera2" onclick="openIncidentInformation(this)" src="/assets/lastIncidentsPage/images/photo2.jpg" class="img">
				</div>
				<div class="col-xs-6 col-sm-4 col-lg-4 itens-align-center h-100" align="center" style="display: none;">					
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-lg-6">
					<img id="camera3" onclick="openIncidentInformation(this)" src="/assets/lastIncidentsPage/images/photo3.jpg" class="img">
				</div>
				<div class="col-xs-12 col-sm-12 col-lg-6">
					<img id="camera4" onclick="openIncidentInformation(this)" src="/assets/lastIncidentsPage/images/photo4.jpg" class="img">
				</div>
			</div>
		</div>
		<div id="magnifiedImageDiv" class="w-100 h-100">
			<img id="magnifiedImage" src="/assets/lastIncidentsPage/images/photo1.jpg" class="h-75 w-75">
			<span id="closeBtn" onclick="closeIncidentInformation()" class="btn btn-sm btn-info">X</span>
		</div>
		<footer>
			© 2020 Copyright:
			<a href="http://dontpad.com/Pignus"> Pignus</a>
		</footer>
	</body>
</html>