<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ultimos Incidentes</title>

		<!-- Import Bootstrap and jQuery -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<!-- Import Icons -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Import Pooper.js -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">

		<!-- Import default css -->
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<!-- Import Custom Scrollbar -->
		<link rel="stylesheet" type="text/css" href="/css/custom-scrollbar.css">	

		<!-- Import this page css -->
		<link rel="stylesheet" type="text/css" href="/telegramConfig/telegramConfig.css">

		<!-- Import JS -->
		<script type="text/javascript" src="~/public/assests/telegramConfigPage/telegramConfig.js"></script>

		<!-- Funções -->
		<script type="text/javascript">
			function closeIncidentInformation(){
				document.getElementById("magnifiedImageDiv").style.display = "none";			
			}
			function openIncidentInformation(image){
				document.getElementById("magnifiedImage").src = image.src;
				document.getElementById("magnifiedImageDiv").style.display = "block";
			}
		</script>

		<!-- Style -->
		<style type="text/css">
			html, body {
				height: 100%;
			}
			.img{
				width: 49.7%;
				height: 49.7%;
			}
			footer {
				position: absolute;
				bottom: 0;
				width: 100%;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
			<a class="navbar-brand" href="#">PigNus</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav w-100">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Incidentes
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Últimos Incidentes</a>
							<a class="dropdown-item" href="#">Pesquisar</a>
						</div>
					</li>
					<li class="nav-item active dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Integrações
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Telegram</a>
						</div>
					</li>
					<button type="button" class="btn btn-sm btn-danger mr-auto mr-sm-0 ml-sm-auto">Logout</button>
				</ul>
			</div>
		</nav>
		<div class="container-fluid h-100 d-flex flex-column justify-content-center">
			<div class="row no-gutters h-75 d-flex justify-content-center">
				<div class="col-xs-6 col-sm-8 h-100">
					<div class="row no-gutters h-100">
						<div id="magnifiedImageDiv" class="w-100 h-100" style="position: absolute; top: 0; z-index: 999">
							<img id="magnifiedImage" src="./imagens/photo1.jpg" class="h-100 w-100">
							<span onclick="closeIncidentInformation()" style="position: absolute; top: 10px; right: 10px; cursor: pointer;">&times</span>
						</div>
						<img id="camera1" onclick="openIncidentInformation(this)" src="./imagens/photo1.jpg" class="rounded img pb-1">
						<img id="camera2" onclick="openIncidentInformation(this)" src="./imagens/photo2.jpg" class="rounded img pb-1">
						<img id="camera3" onclick="openIncidentInformation(this)" src="./imagens/photo3.jpg" class="rounded img pt-1">
						<img id="camera4" onclick="openIncidentInformation(this)" src="./imagens/photo4.jpg" class="rounded img pt-1">
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 col-lg-4 itens-align-center h-100" align="center" style="display: none;">					
				</div>
			</div>
		</div>
		<footer class="footer font-small bg-dark">
			<div class="footer-copyright text-center py-3">© 2020 Copyright:
				<a href="http://dontpad.com/Pignus"> Pignus</a>
			</div>
		</footer>
	</body>
</html>