var mysql = require('mysql');
var mysqlConnection = mysql.createConnection({
  host     : 'localhost',
  user     : 'my_user',
  password : 'my_password',
  database : 'pignus'
});

module.exports = function(){
	return mysqlConnection;
}
