<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Criar Usu치rio</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Import default css -->
    <link rel="stylesheet" type="text/css" href="/assets/default/style.css">

    <!-- Import this page Js -->
    <script type="text/javascript" src="/assets/createUserPage/createUserPage.js"></script>
</head>
<body class="vh-100">

    <!-- Load Navbar -->
    <div id="navbar-placeholder"></div>
    <script type="text/javascript">
        $(document).ready(() => {
            $("#navbar-placeholder").load("/assets/navbar/navbar.html");
        })
    </script>

    <div class="vh-100 row no-gutters d-flex justify-content-center align-items-center">
        <div class="col-6 col-md-4 col-lg-2 center-div-border top-padding-20px max-height-400px custom-scrollbar">
            <div class="row no-gutters border-bottom border-dark pb-4">
                <div class="row no-gutters w-100 d-flex justify-content-center">
                    <h4>Criar Usu치rio</h4>
                    <div class="form-group col-11">
                        <label for="usernameInput">Usu치rio</label>
                        <input type="text" class="form-control" id="usernameInput">
                    </div>
                    <div class="form-group col-11">
                        <label for="passwordInput">Senha</label>
                        <input type="password" class="form-control" id="passwordInput">
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button class="btn btn-success col-11" onclick='createUser()'>Adicionar Usu치rio</button>
                </div>
                <div id="postResponseDiv" class="overflow-x-scroll" style="display: none">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
